
@custom-media --mobile (width <= 900px);

:root {
  //--color-red: #E85B70;
  //--color-yellow: hsla(42, 100%, 85%, 1);
  //--color-red-shadow: rgba(154, 75, 78, 0);
  --color-red: #000;
  --color-yellow: #fff;
  --color-red-shadow: rgba(0, 0, 0, 0.25);


  --margin-container: 0 auto;
  --width-container: 900px;
  --width-shared-right: 300px;
  --width-shared-left: 300px;
  --width-shared-center: calc(100% - (var(--width-shared-right) + var(--width-shared-left)));
  --width-container-mobile: 100%;
  --height-nav: 70px;

  --container-theme: {
    width: var(--width-container);
    /*margin: var(--margin-container);*/

    @media (--mobile) {
      width: var(--width-container-mobile);
    }
  };

  --shared-parent-theme: {
    display: flex;
    position: relative;
  };

  --shared-left-theme: {
    width: var(--width-shared-left);
  };

  --shared-center-theme: {
    width: var(--width-shared-center);
    padding-right: 1rem;
    /*margin: var(--margin-container);*/

    @media (--mobile) {
      width: 100%;
    }
  };

  --shared-right-theme: {
    width: var(--width-shared-right);
  }
}
